<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPlan ● Create Project</title>

    <link rel="icon" type="image/x-icon" href="/public/img/UniPlan Icon.png">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <%- include('../public/partials/navbar'); %>

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6 m-1 p-3 p-sm-5 shadow rounded">
                <h1 class="mb-4">Create Project</h1>
                <form id="createProjectForm" action="/create/project" method="post">
                    <div class="form-group">
                        <label for="projectName">Project Name</label>
                        <input type="text" class="form-control" id="projectName" name="project_name" required>
                    </div>

                    <div class="form-group mb-2">
                        <label for="projectBio">Project Bio</label>
                        <textarea class="form-control" id="projectBio" name="project_bio" required></textarea>
                        <input class="form-control mt-2" type="file" name="file" id="formFile">
                    </div>

                    <label for="RelatedColleges" class="mt-3">Related Colleges</label>
                    <div class="form-group mb-2 d-flex align-items-center justify-content-between">
                        <div class="wrapper">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="ict" value="ICT" id="ict">
                                <label class="form-check-label badge bg-primary text-white rounded-pill px-2 py-1 me-2" for="ict">ICT</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="houtwerk" value="Metaal- en Houtwerk" id="metaal">
                                <label class="form-check-label badge bg-success text-white rounded-pill px-2 py-1 me-2" for="metaal">Metaal- en Houtwerk</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="buisness" value="Business" id="buisness">
                                <label class="form-check-label badge bg-info text-white rounded-pill px-2 py-1 me-2" for="buisness">Business</label>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="techniek" value="Techniek en technologie" id="techniek">
                                <label class="form-check-label badge bg-dark text-white rounded-pill px-2 py-1 me-2" for="techniek">Techniek en technologie</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="zorg" value="Zorg en Welzijn" id="zorg">
                                <label class="form-check-label badge bg-danger text-white rounded-pill px-2 py-1 me-2" for="zorg">Zorg en Welzijn</label>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown mt-3">
                        <label for="addUser" class="mt-2">Add user(s)</label>
                        <input type="text" class="form-control mt-1" id="userSearchInput" placeholder="Search..." onkeyup="filterUsers()">

                        <select multiple class="dropdown-content form-control mt-1 limited" id="myDropdown" size="5" onchange="selectUser(this)">
                            <% users.forEach(user => { %>
                            <option value="<%= user.email %>"><%= user.lastname + ", " + user.firstname %></option>
                            <% }); %>
                        </select>
                    </div>

                    <div id="selectedUsers" class="mt-1">
                        <!-- Selected users will appear here -->
                    </div>

                    <button type="submit" class="btn btn-primary my-2 submit-button float-start">Create Project</button>
                </form>
            </div>
        </div>
    </div>

    <script src="../public/js/search-box.js"></script>
</body>

</html>
