<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPlan ● Create Project</title>

    <link rel="icon" type="image/x-icon" href="/public/img/UniPlan Icon.png">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <%- include('../public/partials/navbar'); %>

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="wizard col-md-6 m-1 p-3 p-sm-5 shadow rounded">
                <h1 class="mb-4">Create Project</h1>
                <form id="createProjectForm" action="/create/project" method="post" enctype="multipart/form-data">
                    <!-- Step 1: Project Details -->
                    <div class="step active" id="step1">
                    
                        <div class="form-group mb-2">
                            <div class="name mt-2">
                                <label for="projectName">Project Name</label>
                                <input type="text" class="form-control" id="projectName" name="project_name" required>
                            </div>

                            <div class="bio mt-2">
                                <label for="projectBio">Project Bio</label>
                                <small class="small-text" for="">Be descriptive (Instructions etc.)</small>
                                <textarea class="form-control" id="projectBio" name="project_bio" required></textarea>
                            </div>
                            
                            <div class="files mt-2">
                                <label for="formFile">Additional Files</label>
                                <input class="form-control" type="file" name="file" id="formFile" multiple>
                            </div>

                            <div class="banner mt-2">
                                <label for="formBanner">Add Banner</label>
                                <input class="form-control" type="file" name="banner" id="formBanner">
                            </div>
                    
                        </div>
                        <button type="button" class="btn btn-primary mt-4" onclick="nextStep(1)">Next</button>
                    </div>

                    <!-- Step 2: Related Colleges -->
                    <div class="step" id="step2">
                        <label for="endDate">End Date</label>
                        <input type="date" class="form-control mb-3" id="endDate" name="end_date">

                        <label for="RelatedColleges" class="mt-3">Related Colleges</label>
                        <div class="form-group mb-2 d-flex align-items-center justify-content-between">
                            <div class="wrapper">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="ict" value="ICT" id="ict">
                                    <label class="form-check-label badge bg-primary text-white rounded-pill px-2 py-1 me-2" for="ict">ICT</label>
                                </div>                                
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="buisness" value="buisness" id="buisness">
                                    <label class="form-check-label badge bg-info text-white rounded-pill px-2 py-1 me-sm-2" for="buisness">Buisness</label>
                                </div>

                            </div>
                            <div class="wrapper">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="techniek" value="Techniek en technologie" id="techniek">
                                    <label class="form-check-label badge bg-dark text-white rounded-pill px-2 py-1 me-sm-2" for="techniek">Techniek en technologie</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="zorg" value="Zorg en Welzijn" id="zorg">
                                    <label class="form-check-label badge bg-danger text-white rounded-pill px-2 py-1 me-sm-2" for="zorg">Zorg en Welzijn</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="houtwerk" value="Metaal- en Houtwerk" id="metaal">
                                    <label class="form-check-label badge bg-success text-white rounded-pill px-2 py-1 me-sm-2" for="metaal">Metaal- en Houtwerk</label>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper mt-4">
                            <button type="button" class="btn btn-secondary" onclick="prevStep(2)">Previous</button>
                            <button type="button" class="btn btn-primary" onclick="nextStep(2)">Next</button>
                        </div>

                    </div>

                    <!-- Step 3: Add Users -->
                    <div class="step" id="step3">
                        <div class="dropdown mt-3">
                            <label for="addUser" class="mt-2">Add user(s)</label>
                            <input type="text" class="form-control mt-1" id="userSearchInput" placeholder="Search..." onkeyup="filterUsers()">

                            <select multiple class="dropdown-content form-control mt-1 limited" id="myDropdown" size="5" onchange="selectUser(this)">  
                                <% users.forEach(user => { %>
                                    <% if (user.email != req.session.email) { %>  
                                        <option value="<%= user.email %>"><%= user.lastname + ", " + user.firstname %></option>
                                    <% } %>
                                <% }); %>
                            
                            </select>
                        </div>

                        <div id="selectedUsers" class="mt-4">
                            <!-- Selected users will appear here -->
                        </div>

                        <div class="d-flex flex-column align-items-start mt-2">
                            <button type="button" class="btn btn-secondary" onclick="prevStep(3)">Previous</button>
                            <button type="submit" class="btn btn-primary my-2 submit-button float-start">Create Project</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../public/js/search-box.js"></script>
    <script src="../public/js/next-step.js"></script>
</body>

</html>
