<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPlan ● Create Project</title>

    <link rel="icon" type="image/x-icon" href="/public/img/UniPlan Icon.png">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <%- include('../public/partials/navbar'); %>

    <div class="dashboard-wrapper1">
        <div class="dashboard-container">
            <header>
                <h1>Welcome to Uniplan</h1>
                <p>Your ultimate tool for connecting teachers and students to ensure project success.</p>
            </header>
            <main class="d-block d-sm-flex">
                <button class="w-75" onclick="window.location.href='/create/project'"><i class="ri-folder-add-line fs-1"></i> <br>Create a Project </button>
                <button class="w-75" onclick="window.location.href='/projects'"><i class="ri-puzzle-2-fill fs-1"></i> <br>Contribute to a Project</button>
            </main>
        </div>
    </div>

    <div class="white-spacer">
        <img src="https://www.cardsonline.info/wp-content/uploads/2019/01/ROC-ter-AA-3.png" alt="" width="200px">
    </div>

    <div class="dashboard-wrapper2">
        <div class="pink">
            something
        </div>
        <div class="yellow">
            something
        </div>

        <div class="green">
            Something
        </div>
    </div>

    <div class="dashboard-wrapper3">
        <div class="black-footer">

        </div>
    </div>
    

</body>

</html>