<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPlan ● Dashboard</title>
</head>

<body>
    <%- include('../public/partials/navbar'); %>
</body>

</html>