<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPlan ● Create Project</title>

    <link rel="icon" type="image/x-icon" href="/public/img/UniPlan Icon.png">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/2.5.0/remixicon.css" rel="stylesheet">
</head>

<body>
    <%- include('../public/partials/navbar'); %>

    <div class="dashboard-wrapper1">
        <div class="dashboard-container">
            <header>
                <h1>Welcome to Uniplan</h1>
                <p>Your ultimate tool for connecting teachers and students to ensure project success.</p>
            </header>
            <main class="d-block d-sm-flex">
                <button class="w-75" onclick="window.location.href='/create/project'"><i
                        class="ri-folder-add-line fs-1"></i> <br>Create a Project </button>
                <button class="w-75" onclick="window.location.href='/projects'"><i class="ri-puzzle-2-fill fs-1"></i>
                    <br>Contribute to a Project</button>
            </main>
        </div>
    </div>

    <div class="white-spacer">
        <img class="me-5" src="https://www.cardsonline.info/wp-content/uploads/2019/01/ROC-ter-AA-3.png" alt="" width="230px">
    </div>

    <div class="dashboard-wrapper2">
        <div class="pink text-center">
            <h2><b>Overview of ROC Ter AA Helmond</b></h2>
        </div>
        <div class="yellow text-center">
            <h2><b>Educational Programs and Opportunities</b></h2>
        </div>

        <div class="green text-center">
            <h2><b>Community Engagement and Partnerships</b></h2>
        </div>
    </div>

    <div class="dashboard-wrapper3">
        <div class="black-footer text-light p-5">
            <div class="wrapper d-sm-flex justify-content-between">
                <div class="left">
                    <p><strong>ROC ter AA</strong></p>
                    <p>Address: ROC ter AA, Schoolstraat 2, 5701 PM Helmond, The Netherlands</p>
                    <p>Phone: +31 492 538 888</p>
                </div>
                <div class="middle">
                    <p>Email: <a href="mailto:info@rocteraa.nl" class="px-1">info@rocteraa.nl</a></p>
                    <p>Website: <a href="https://www.rocteraa.nl" class="px-1">www.rocteraa.nl</a></p>
                </div>
                <div class="right">
                    <div class="social-media">
                        <a href="https://www.instagram.com/rocteraa" class="text-decoration-none fs-2 px-2"><i class="ri-instagram-line"></i></a>
                        <a href="https://www.facebook.com/rocteraa" class="text-decoration-none fs-2 px-2"><i class="ri-facebook-line"></i></a>
                        <a href="https://www.linkedin.com/school/rocteraa" class="text-decoration-none fs-2 px-2"><i class="ri-linkedin-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="fixed-question-mark" onclick="window.location.href='/help'">
        ?
    </button>
</body>

</html>
