:root {
    /* ROC colors */
    --roc-green: #169898;
    --roc-green-light: #1cabab;
    --roc-pink: #FC1F63;
    --roc-yellow: #FFED00;

    /* Contrast */
    --main-bg-color: #E8F4FF;
    --main-bg-color-dark: #000000;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 25px 25px 25px;
    /* Add back default padding */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* Add back default box-shadow */
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    text-align: center;
}

.submit-button {
    font-size: larger;
    width: 300px;
    height: 40px;
    background-color: var(--roc-green);
    color: white;
    border: 0;
    border-radius: 20px;
}

.card {
    border: 0px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.submit-button:hover {
    background-color: var(--roc-green-light);
}

.link {
    font-weight: 600;
    color: var(--roc-green);
}

.link:hover {
    color: var(--roc-green-light);
}

.corner-logo {
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.dashboard-container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto; /* This will center the container */
    margin-top: 50px; /* Optional: add some top margin */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Optional: add box shadow */
}

header h1 {
    color: var(--roc-green);
}

header p {
    color: var(--roc-green-light);
    font-size: 1.2em;
}

main button {
    margin: 10px;
    background-color: var(--roc-pink);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

main button:hover {
    background-color: var(--roc-green);
}

/* Media Query for screens smaller than 900 pixels */
@media (max-width: 900px) {

    .login-container {
        padding: 5px;
        /* Adjust the padding as needed */
        box-shadow: none;
        /* Remove box-shadow */
        text-align: center;
    }
}