:root {
    /* ROC colors */
    --roc-green: #169898;
    --roc-green-light: #1cabab;
    --roc-pink: #FC1F63;
    --roc-yellow: #FFED00;

    /* Contrast */
    --main-bg-color: #E8F4FF;
    --main-bg-color-dark: #000000;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 25px 25px 25px;
    /* Add back default padding */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* Add back default box-shadow */
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    text-align: center;
}

.submit-button {
    font-size: larger;
    width: 300px;
    height: 40px;
    background-color: var(--roc-green);
    color: white;
    border: 0;
    border-radius: 20px;
}

.submit-button:hover {
    background-color: var(--roc-green-light);
}

.link {
    font-weight: 600;
    color: var(--roc-green);
}

.link:hover {
    color: var(--roc-green-light);
}

.corner-logo {
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

/* Media Query for screens smaller than 900 pixels */
@media (max-width: 900px) {

    .login-container {
        padding: 5px;
        /* Adjust the padding as needed */
        box-shadow: none;
        /* Remove box-shadow */
        text-align: center;
    }
}